body {

}
nav {
  padding-left:60%;
}


.nav-pipe{
  display:inline;
  list-style: none;
  border-right:1px solid orange;
  padding-right: 10px;
  padding-left: 10px;
}

.content-wrapper{

  height: 500px;
}
.leftbox {
/*  dispaly:inline-box;*/
  margin-top: 50px;
  float:left;
  width: 45%;
  border:solid blue 3px;
}
.rightbox{
 /* display:inline-box;*/
  margin-top: 50px;
  float:right;
  width: 45%;
  border:solid blue 3px;
}

#map{
  height:100%;
}
