<div class="content-wrapper">
    <div class= "leftbox">
    <h2>TRUMP TWEETS</h2>
        <div class="tweetBox"> <%=trump_talk%></div>
    </div>

    <div class = "rightbox">
      <h2>CLINTON TWEETS</h2>
      <div class="tweetBox"> <%=clinton_talk%></div>
    </div>
  </div>
