<h2>Please sign up to access our site</h2>
<form id="register" method="post" action="/users">
  <label for="first_name">First Name</label>
  <input type="text" name="user[first_name]">
  <br>
  <label for="last_name">Last Name</label>
  <input type="text" name="user[last_name]">
  <br>
  <label for="password">Password</label>
  <input type="password" name="user[hashed_password]">
  <br>
  <label for="email">Email</label>
  <input type="email" name="user[email]">
  <br>
  <input type="submit" name="" value="create">

</form>
