<li class="pipe-separate t-light-green left"><a href="/users/new">Register</a></li>
 <li class="pipe-separate t-light-green left"><a href="/login">Log In</a></li>
 <li class="pipe-separate t-light-green left"><a href="/">home</a></li>
