  <li class="pipe-separate t-light-green left"> <%=current_user.first_name%></li>
     <li class="pipe-separate t-light-green left"><a href="/log_out">Log out </a></li>
 <li class="pipe-separate t-light-green left"><a href="/">home</a></li>
